<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node JS</title>
    <style>
        body{
            background-color: blueviolet;
            font-family: Arial,sans-serif;
            text-align: center;
            color: white;
        }
        nav{
            background-color: black;
            padding: 5px;
        }
        nav a{
            color: white;
            text-decoration: none;
            padding: 10px 25px;
            display: inline-block;
        }
        nav a:hover{
            background-color: orangered;
        }
    </style>
</head>
<body>

<!-- Navbar -->
<nav>
    <a href="/">Home</a>
    <a href="/about">About Us</a>
    <a href="/profile">Profile</a>
    <a href="/contact">Contact Us</a>
</nav>

    <h1>Get In Touch</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facilis nemo pariatur voluptates? Alias, aliquam amet aperiam consequatur cum dolor eius excepturi fuga harum incidunt labore necessitatibus nesciunt nihil non odio odit quae quia ratione recusandae, sequi tempora veritatis voluptatem?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum eaque laborum maiores necessitatibus nulla provident quod repudiandae sequi vitae voluptatibus. Aliquam architecto aspernatur corporis cupiditate distinctio dolor enim facere harum ipsam ipsum itaque labore maxime, minus molestiae mollitia nisi perferendis possimus quasi quibusdam quisquam, quod ratione tempora vel veniam vero.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cupiditate ducimus eaque error explicabo id illo incidunt ipsa iusto minima minus molestias nostrum nulla obcaecati odio omnis optio perferendis quae, quam, quod rem sit tempore tenetur unde ut, vel voluptatibus!</p>

</body>
</html>
